div.sponsors {
  background-color: var(--grey-color);
  font-size: var(--body-font-size-s);
  border-top: 2px solid var(--brand-color);
}

div.sponsors .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 24px 24px;
}

div.sponsors .section p {
  color: var(--text-color);
  padding: 1rem 0;
}

div.sponsors .section .columns-wrapper {
  padding: 0;
}

div.sponsors > div {
  color: var(--textlight-color);
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

@media (width >= 900px) {
  div.sponsors > div {
    padding: 32px;
  }
}

/* Sponsors section */
div.sponsors img {
  max-height: 4rem;
  object-fit: contain;
  padding-bottom: 1rem;
}