.sponsors {
  background-color: var(--grey-color);
  font-size: var(--body-font-size-xs);
  border-top: 2px solid var(--brand-color);
}

.sponsors > div {
  color: var(--textlight-color);
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

.sponsors .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.sponsors .section p {
  color: var(--text-color);
  padding: 1rem 0;
}

.sponsors .section .columns-wrapper {
  padding: 0;
}

@media (width >= 900px) {
  .sponsors > div {
    padding: 32px;
  }

  .sponsors .columns > div:nth-child(2),
  .sponsors .columns > div:nth-child(4) {
    margin-left: 2rem;
  }
}

.sponsors img {
  max-height: 4rem;
  object-fit: contain;
  padding: 0.5rem 0;
}

.sponsors .columns > div > div {
  margin: 0;
}