.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  margin-bottom: auto;
}

/* Sponsors section */
.columns.img-size-m img {
  max-height: 200px;
  object-fit: contain;
  padding-bottom: 1rem;
}

.columns > div > .columns-img-col {
  order: 0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.two-by-one > div > div:first-child {
    flex: 2;
  }

  .columns.two-by-one > div > div:last-child {
    flex: 1;
  }

  .columns.one-by-two > div > div:first-child {
    flex: 1;
  }

  .columns.one-by-two > div > div:last-child {
    flex: 2;
  }

  .columns.three-by-one > div > div:first-child {
    flex: 3;
  }

  .columns.three-by-one > div > div:last-child {
    flex: 1;
  }

  .columns.one-by-three > div > div:first-child {
    flex: 1;
  }

  .columns.one-by-three > div > div:last-child {
    flex: 3;
  }
}
