/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);

}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / 1fr auto auto;
  align-items: center;
  gap: 0 16px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--heading-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / 1fr auto auto;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

header nav a:hover {
  color: var(--brand-color);
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 258px;
  font-size: var(--heading-font-size-l);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 210px;
  height: auto;
}

header nav .nav-brand p,
header nav .nav-tools p {
  margin: 0;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  height: 22px;
  display: flex;
}

header nav .nav-tools a.button:any-link {
  background-color: var(--background-color);
  border: 0;
  margin: 0;
  padding: 0;
}

header nav .nav-tools .icon {
  padding-left: 16px;
}

@media (width >= 900px) {
  header nav .nav-tools {
    align-items: center;
    padding-bottom: 0;
  }
  
  header nav .nav-brand p,
  header nav .nav-tools p {
    margin: 8px 0 0;
  }
  
  header nav .nav-tools a.button img {
    opacity: 0.5;
    transition: opacity 1.0s ease;
  }

  header nav .nav-tools a.button img:hover {
    opacity: 1;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--heading-font-size-l);
}

header nav .nav-sections ul > li {
  border: 0;
}

header nav .nav-sections ul > li.active {
  color: var(--brand-color);
  border-bottom: 2px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  color: var(--text-color);
  font-weight: 300;
  padding-left: 1rem;
}

header nav .nav-sections ul > li > ul > li.active {
  color: var(--brand-color);
  border-bottom: 2px;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .default-content-wrapper {
    display: flex;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
    width: 70%;
    font-size: var(--heading-font-size-m);
  }
  
  header nav .nav-sections ul > * {
    flex: 1;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li .nav-label {
    display: block;
    width: 100%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--border-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  
  header nav .nav-sections .default-content-wrapper > ul > li:hover::after {
    transform: scaleX(1);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -16px;
    background: transparent;
    padding: 1rem;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.1s ease;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    opacity: 1;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 4px 0;
  }
}

/* navigation background */
header .nav-background {
  display: none;
}

@media (width >= 900px) {
  header .nav-background {
    display: block;
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    height: var(--navmenu-height);
    top: var(--nav-height);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
  }
  
  header .nav-background.is-visible {
    opacity: 1;
    pointer-events: auto;
    border-bottom: 0.2rem solid var(--brand-color);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  }

  header .nav-background img {
    padding-top: 3rem;
    padding-left: 3rem;
    width: 15%;
  }
}
