.article-feed > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
  list-style-type: none;
}

@media (width >= 900px) {
  .article-feed > ul {
    grid-template-columns: 1fr 1fr; /* one column on mobile */
  }
}

.article-feed.wide > ul {
  grid-template-columns: 1fr;
}

.article-feed > ul > li {
  /* border: 1px solid #dadada; */
  background-color: var(--background-color);
}

.article {
  /* border: 1px solid #dadada; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
}

@media (width >= 900px) {
  .article {
    grid-template-columns: minmax( auto, 247px );
    grid-gap: 24px;
  }
}

.article .article-head {
  height: auto;
  grid-column: 2;
  justify-content: center;
}

.article .article-body {
  grid-column: 2;
}

.article .article-img {
  grid-column: 1;
  display: grid;
  line-height: 0;
}

