.article-feed {
  display: block;
}

.article-feed > div {
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.article-subtitle {
  margin: 0;
}

.article-body > div > h3 {
  margin-top: 0;
}

.article-body > div > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .article-img {
  grid-column: 1;
  display: grid;
  line-height: 0;
}
