footer {
  background-color: var(--background-color);
  color: white;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  color: var(--brand-color);
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer a:any-link {
  color: var(--brand-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

footer a:hover {
  color: var(--brandlight-color);
  text-decoration: underline;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 32px;
  }
}
