@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
       url('../fonts/Montserrat-LightItalic.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
       url('../fonts/Montserrat-Italic.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
       url('../fonts/Montserrat-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
       url('../fonts/Montserrat-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-100italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-200italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-700italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-800italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-900italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/barlow-condensed-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}